# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Build & Dist Outputs
/build
/dist
dist/
frontend/dist/

# Debug Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# User Uploads & Heavy 3D Models
backend/uploads/*
!backend/uploads/.gitkeep
frontend/public/models/*.glb
frontend/public/models/*.gltf
*.glb
*.gltf

# Env
.env*
.env.local

# OS & Temp
.DS_Store
Thumbs.db
.vercel
arch_swiss_knife.py
